
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: #f1f1f1;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
  color:#007bff;
}

/* Giving our navbar some padding and a background color */
.row {
  padding: 15px;
  background: #fff;
}

.main_image {
   width: 288px;
   height: 195px; 
}

.thumbnail {
  padding: 10px;
  height: 97.5px;
  width: 144px;
}

.full_image {
  padding: 20px;
  height: 351px;
  width: 518.4px;
}

.large_image {
  padding: 20px;
  height: 429px;
  width: 633.6px;
}

table {
  border-collapse: collapse;
  border: 2px black solid;
  font: 12px sans-serif;
  background: #fff;
}

th {
  border: 1px black solid;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  
}

thead {
  background: #000;
  color: #fff;
}

td {
  border: 1px black solid;
  padding: 5px;
}


/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. */
.navbar li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 3px;
}

/* Getting rid of the default link styles here */
.navbar li a {
  color: #000;
  text-decoration: none;
}

#nav-select {
  visibility: visible;
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 1000px) {
  .row {
    padding: 10px;
  }

  .main_image {
   width: 288px;
   height: 195px; 
}

  .navbar ul {
    visibility: visible;
  }

 .vizbox {
    visibility: hidden;
  }
  #nav-select {
    visibility: visible;
  }
}
