
/* Assign background color light gray */
body {
  background: #f1f1f1;
}

/* Create flex container to realign divisions as the screen dimensions change */
.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
  color:#007bff;
}

h5 {
  font-weight: bold;
}

.row {
  padding: 15px;
  background: #fff;
}

.main_image {
   width: 288px;
   height: 195px; 
   float: left;
   margin: 5px;
}

p {
  text-align: justify;
}
.thumbnail {
  padding: 10px;
  height: 97.5px;
  width: 144px;
}

.full_image {
  padding: 20px;
  height: 351px;
  width: 518.4px;
}

.large_image {
  padding: 20px;
  height: 429px;
  width: 633.6px;
}

table {
  border-collapse: collapse;
  border: 2px black solid;
  font: 12px sans-serif;
  background: #fff;
}

th {
  border: 1px black solid;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  
}

thead {
  background: #000;
  color: #fff;
}

td {
  border: 1px black solid;
  padding: 5px;
}

.navbar {
  align-content: right;
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. */
.navbar li {
  display: inline-block; 
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 3px;
}

/* Getting rid of the default link styles here */
.navbar li a {
  color: #000;
  text-decoration: none;
}

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}

@media all and (max-width: 992px) {
    .navbar li {
      margin-right: 2px;
      margin-left: 2px;
      color: #007bff;
    }

    .large_image {
      padding: 10px;
      height: 292.5px;
      width: 432px;
    }
}
 
